{% extends 'base.html' %}


{% block content %}
    <!-- About Us section -->
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">About Us</h2>
            <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">
                GiveTime is a platform that aims to connect volunteers with non-profit organizations and help
                them find volunteering opportunities that match their interests, skills, and availability. 
            </p>

            <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">
                The platform is designed to solve the problem of a lack of centralized and easily accessible information about
                volunteering opportunities, which often leads to a mismatch between volunteers and non-profit
                organizations.
            </p>

            <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">
                By providing a platform where volunteers can easily search and find volunteering opportunities that
                match their preferences, GiveTime hopes to increase the number of volunteers and improve the efficiency
                of volunteer recruitment and management for non-profit organizations.
            </p>

            <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">
                The platform can also help to build a community of volunteers and non-profit organizations that share a common goal of making a
                positive impact in their local communities.
            </p>
        </div>
    </div>
</section>
{% endblock content %}
