{% extends 'base.html' %} {% block content %}

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">
                Powering innovation at
                <span class="font-extrabold">200,000+</span> companies worldwide
            </h2>
            <p class="mb-4 font-light">
                Track work across the enterprise through an open, collaborative
                platform. Link issues across Jira and ingest data from other software
                development tools, so your IT support and operations teams have richer
                contextual information to rapidly respond to requests, incidents, and
                changes.
            </p>
            <p class="mb-4 font-medium">
                Deliver great service experiences fast - without the complexity of
                traditional ITSM solutions.Accelerate critical development work,
                eliminate toil, and deploy changes with ease.
            </p>
        </div>

        <div class="align-middle">
            <a href="{{ url_for('volunteer_auth.volunteer_reg') }}"
                class="focus:outline-none text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Volunteer</a>

            <a href="{{ url_for('nonprofit_auth.nonprofit_reg') }}"
                class="focus:outline-none text-white bg-green-400 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Nonprofit</a>
        </div>
    </div>
</section>

{% endblock content %}